.main {
  font-family: "Archivo";
}

.battlefield {
  font-family: "Bebas Neue";
  letter-spacing: 0.03em;
}

.nobottom {
  margin-bottom: 0px;
}

.marker {
  font-family: "Permanent Marker";
  color: purple;
  animation: colorful;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@media (max-width: 500px) {
  .marker {
    font-size: 6rem;
  }
}

.timespan {
  color: purple;
  animation: colorful;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes colorful {
  0% {
    color: rgb(148, 17, 148);
  }
  15% {
    color: rgb(228, 0, 209);
  }
  30% {
    color: rgb(255, 166, 0);
  }
  60% {
    color: rgb(164, 182, 0);
  }
  80% {
    color: rgb(0, 118, 228);
  }
  90% {
    color: rgb(158, 0, 0);
  }
}
